#share {
    font-weight: bold;
    border: none;
    position: absolute;
    // top: 2vh;
    // left: 55vw;
}

#popup {
    // width: 80vw;
    height: auto;

    img {
        height: 100%;
        width: 100%;
    }
}

#popup-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(.9, .9, .9, .5);
    z-index: -1;
}

.Decades-Page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .Decades-Title-TextShadow {
        font-family: Roboto;
        font-size: 4vh;
        line-height: 100%;
        text-shadow: -2px 0px $ACCENT;
        margin: 20px 0 0 15px;
        color: $WHITE;
    }

    .Decades-subtitle {
        font-family: Roboto;
        color: $WHITE;
        margin: 0 0 0 15px;
        font-size: 2vh;
    }

    .Decades-GraphOwner {
        width: 100%;
        margin-bottom: 20px;

        h3 {
            font-family: Roboto;
            text-align: left;
            color: $PRIMARY;
            font-size: 2vh;
        }
        .Decades-GraphOwner-Underline {
            background: $WHITE;
            width: 10%;
            height: 4px;
        }
    }

    .Decades-BarChart-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .Decades-BarChart {

            .Decades-BarChart-Bars {
                display: flex;
                align-items: flex-end;
    
                .Decades-BarChart-Bar {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
    
                    .Decades-BarChart-Bar-Bar{
                        border-radius: 5px;
                        width: 90%;
                        background-color: $ACCENT;
                    }
        
                    .Decades-BarChart-Bar-Label{
                        margin: 10px;
                        font-family: Roboto;
                        font-size: 2vh;
                        font-style: normal;
                        color: $PRIMARY;
                    }
                }
            }
    
            .Decades-BarChart-Axis {
                background: $WHITE;
                transform: translateY(-43px);
                width: 100%;
                height: 4px;
            }
        }
    }
}