.TopPage{
    position: absolute;

    h1 {
        width: 303px;
        height: 89px;
        left: 21px;
        top: 11px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        /* or 250% */
        letter-spacing: 0.09em;

        color: #212034;
    }

    h3{
        /* top artists */

        width: 303px;
        height: 89px;
        left: 17px;
        top: 11px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        /* or 250% */
        letter-spacing: 0.09em;

        /* Neon Pink */
        color: #E5277B;
    }

    h2{
        width: 303px;
        height: 89px;
        left: 21px;
        top: 11px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        /* or 250% */
        letter-spacing: 0.09em;
        
        color: #212034;
    }
}