.Stories {
    height: 100%;
    width: 100%;
}

.Stories-progress {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Stories-progress-bar-wrapper {
    height: 40px;
    z-index: 100;
}

.Stories-progress-bar {
    height: 5px;
    margin: 0 3px;
    width: 90%;

    &:first-child { margin-left: 0 !important; }
    &:last-child { margin-right: 0 !important; }
}

.react-swipeable-view-container {
    height: 100%;
    width: 100%;
}

.Empty {
    width: 0;
    height: 0;
}