#Members {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $PRIMARY;
    background: url('../images/squigs.svg');
    background-size: 100%;

    h1 {
        line-height: 1.3em;
        padding-left: 4vw;
        background-color: $PRIMARY;
    }

    #memberlist {
        height: 60vh;
        align-items: flex-start;
        width: 100%;
        overflow: scroll;
        margin-left: 8vw;

        ul {
            padding-left: 6px;
        }

        li {
            list-style: none;
            font-weight: bold;
            margin-bottom: 15px;
        }

        span {
            background-color: $PRIMARY;
            padding: 2px;
        }
    }

    button {
        background-color: $SECONDARY;
        color: $PRIMARY;
        font-weight: bold;
        width: 180px;
        font-size: 16px;
        outline: solid 7px $PRIMARY;
        margin-bottom: 30px;
    }

    button:disabled {
        opacity: 70%;
    }

    h4 {
        margin-bottom: 6px;
        background-color: $PRIMARY;
    }
}