.TopGenres-Page {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    flex-direction: column;

    .TopGenres-Title {
        position: absolute;
        font-family: Roboto;
        font-size: 8vw;
        line-height: 100%;
        text-shadow: -2px 0px $ACCENT;
        margin: 20px 0 0 15px;
        color: $WHITE;
    }

    .Genres-Divider {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 6vw;
        letter-spacing: 0.12em;
        color: $WHITE;
        transform: translateY(10px);
    }

    .Bubbles {
        position: relative;
        width: 100vw;
        height: 50%;

        .Bubble {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            // transform: translate(-150px, -150px);
            

            .Bubble-Image {
                width: 100%;
            }

            .Bubble-Label {
                position: absolute;
                width: 90%;
                font-size: 5px;
                text-justify: auto;
                text-align: center;
                color: #ffffff;
                margin: 0;
            }
        }
    }
    .Bubble-Image-Pink {
        height: 100%;
        width: 100%;
        background: url('../images/bubblePink.png');
        background-size: cover;
    }

    .Bubble-Image-Blue {
        height: 100%;
        width: 100%;
        background: url('../images/bubbleBlue.png');
        background-size: cover;
    }
}

#popup {
    width: 80vw;
    height: auto;

    img {
        height: 100%;
        width: 100%;
    }
}

#popup-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(.9, .9, .9, .5);
    z-index: -1;
}
