
.TopArtists-Page {
    display: flex;
    flex-direction: column;
    width: 100%;

    .TopArtists-Title{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 10% 5% 5% 5%;

        .TopArtists-TextShadow {
            font-family: Roboto;
            font-size: 13vw;
            line-height: 100%;
            text-shadow: -2px 0px $ACCENT;
            color: $WHITE;
            margin: 0;
        }

        @media screen and (min-width: 600px) {
            .TopArtists-TextShadow {
                font-size: 80px;
            }
        }
        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.09em;
            margin: 0;
            color: $WHITE;
        }

    }

    .TopArtists-List{
        display: flex;
        flex-direction: column;
        margin: 5px 5px 0 5px;

        .right-align {
            text-align: right;
            color: $PRIMARY;
        }
        .left-align {
            text-align: left;
            color: $ACCENT;
        }

        .right-align-t {
            text-align: right;
        }
        .left-align-t {
            text-align: left;
        }
        
        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 4vh;
            line-height: 5px;
            letter-spacing: 0.09em;
            margin: 0px 0 7% 0;
        }

        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 00;
            font-size: 3vh;
            line-height: 13px;
            letter-spacing: 0.09em;
            margin-top: 0;
            color: $WHITE;
        }

        mark.pink {  
            background-color: $ACCENT;
            color: $WHITE;
        }   

        mark.blue{
            background-color: $PRIMARY;
            color: black;
        }
          
        @media screen and (max-height: 700px) {
            h2 {
                font-size: 12px;
            }
        }
    } 
}
