
.TopArtists-Page {
    display: flex;
    flex-direction: column;
    width: 100%;

    #PopupBackground {
        width: 90vw;
        height: 80vh;
        overflow: auto;
        background-color: white;
        position: absolute;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .topHeader{
            font-family: Roboto;
            font-size: 7vw;
            text-align: center;
            width: 95%;
        }

        .innerCollapsible{
            font-family: Roboto;
            font-size: 5vw;
            text-align: center;
            width: 95%;
        }

        .innerContent{
            text-decoration: none;
        }
        h2 {
            font-family: Roboto;
            font-size: 4vw;
            text-align: left;
            width: 95%;
            text-decoration: none;
        }
        p {
            font-family: Roboto;
            font-size: 3vw;
            text-align: left;
            width: 95%;
        }
    
        button {
            background-color: $WHITE;
            border: none;
            color: $SECONDARY;
            font-size: 16px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }
    
    .popupInfo {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(.9, .9, .9, .5);
        z-index: 99;
    }
    

    .TopArtists-Title{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 10% 5% 5% 5%;

        .TopArtists-TextShadow {
            font-family: Roboto;
            font-size: 13vw;
            line-height: 100%;
            text-shadow: -2px 0px $ACCENT;
            color: $WHITE;
            margin: 0;
        }

        @media screen and (min-width: 600px) {
            .TopArtists-TextShadow {
                font-size: 80px;
            }
        }
        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.09em;
            margin: 0;
            color: $WHITE;
        }

    }

    .TopArtists-List{
        display: flex;
        flex-direction: column;
        margin: 5px 5px 0 5px;

        .right-align {
            text-align: right;
            color: $PRIMARY;
        }
        .left-align {
            text-align: left;
            color: $ACCENT;
        }

        .right-align-t {
            text-align: right;
        }
        .left-align-t {
            text-align: left;
        }
        
        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 4vh;
            line-height: 5px;
            letter-spacing: 0.09em;
            margin: 0px 0 7% 0;
        }

        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 00;
            font-size: 3vh;
            line-height: 13px;
            letter-spacing: 0.09em;
            margin-top: 0;
            color: $WHITE;
        }

        mark.pink {  
            background-color: $ACCENT;
            color: $WHITE;
        }   

        mark.blue{
            background-color: $PRIMARY;
            color: black;
        }
          
        @media screen and (max-height: 700px) {
            h2 {
                font-size: 12px;
            }
        }
    } 

    .btnDiv{
        padding-left: 90%;

        button {
            background-color: $WHITE;
            border: none;
            color: $SECONDARY;
            font-size: 16px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
          }
    }


    #arrow {
        position: relative;
        left: 90%;
        top: 2%;
        width: 33px;
        height: 33px;
        background-image: url("../images/arrow-drodpdown.svg");
        background-size: 100% 100%;
    }
}
