.RadioButton-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .RadioButton {
        width: 20px;
        height: 20px;
        border: 2px solid $WHITE;
        border-radius: 100%;
        background: $SECONDARY;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .RadioButton-Enabled {
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: $ACCENT;
        }
    }
    .RadioButton-Label {
        color: $WHITE;
        font-family: Roboto;
        font-size: 1.5vh;
        margin: 0;
    }
}

