.Histogram {
    display: flex;
    flex-direction: column;

    .Histogram-graph {
        display: block;

        g {
            stroke: $ACCENT;
            color: $ACCENT;
        }
        line {
            stroke: $ACCENT;
            color: $ACCENT;
        }
        rect {
            rx: 5px;
            ry: 5px;
        }
    }
    
    h6 {
        background-color: #FEEBDB;
        border: 1px solid $ACCENT; 
        padding: 0 20px;
        margin: 0 10px;
        font-size: 12px;
    }
}