.Popup {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    top: 5%;
    overflow: auto;
    background-color: white;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .Collapsible__trigger {
        display: block;
        font-weight: 400;
        text-decoration: none;
        color: #333333;
        position: relative;
        padding: 10px;
        
    }

        .Collapsible__trigger:after {
          font-family: Andale Mono, monospace;
          content: 'v';
          position: absolute;
          right: -2px;
          top: 10px;
          display: block;
          transition: transform 300ms; }

        .Collapsible__trigger.is-open:after {
          transform: rotateZ(180deg); }

    .topHeader{
        font-family: Roboto;
        font-size: 7.5vw;
        text-align: center;
        width: 95%;
    }

    .innerCollapsible{
        font-family: Roboto;
        font-size: 6vw;
        text-align: center;
        width: 95%;
    }

    .innerContent{
        text-decoration: none;
    }
    h2 {
        font-family: Roboto;
        font-size: 6vw;
        text-align: left;
        width: 95%;
        text-decoration: none;
    }
    p {
        font-family: Roboto;
        font-size: 4vw;
        text-align: left;
        width: 95%;
    }
}

.popupInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(.9, .9, .9, .5);
    z-index: 99;
}

.Popup-Close-Button {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        border: none;
        margin: 3px;
        width: 30px;
        height: 30px;
    }
}

.Popup-Button-Container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .Popup-Button {
        background-color: #FFFFFF;
        border: none;
        color: #212034;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        text-align: center;
        margin: 8px;
       
        p {
            margin: 3px 0 0 0;
            font-family: Roboto;
            font-size: 3vh;
        }
    }
}
