.Page {
    display: flex;
    align-items: center;
    color: $SECONDARY;
}

#background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/LoginScreen.png");
    background-size: 100% 100%;
}

.DuetLogo{
    transform: scale(.6);
    display: flex;
    justify-content: center;
    margin-top: 13vh;
}

button {
    font-size: 20px;
    color: $SECONDARY;
    border: 1px solid $SECONDARY;
    border-radius: 5px;
    background: transparent;
    height: 40px;
    width: 280px;
    z-index: 99;
    outline:none;
}

#infobox {
    height: 40px;
    width: 260px;
    text-align: center;
}

#smallLink {
    color: $SECONDARY;
    border: none;
    font-size: 14px;
    margin-top: 21vh;
}

#PopupBackground {
    height: 50vh;
    width: 90vw;
    background-color: white;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    right: 0;
    left: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        width: 95%;
    }

    #close {
        font-size: 12px;
    }
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(.9, .9, .9, .5);
    z-index: 99;
}
