@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@font-face {
    font-family: 'Moon';
    src: //url('moon.woff') format('woff2'),
         url('./fonts/moon2.0-regular-webfont.woff') format('woff'),
         url('./fonts/Moon_2.0.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
 
 body {
    margin: 0;
    font-family: Moon;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.095em;
    background-color: #212034;
 }