.Compare-Page {
    margin-top: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;

    .Compare-Inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin-top: 20px;
    
        .Compare-Input {
            width: 100%;
            button {
                width: 100%;
                height: 40px;
                text-align: left;
                background: $SECONDARY;
                border: 2px solid $WHITE;
                box-sizing: border-box;
                box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.35);
                border-radius: 5px;
                color: $WHITE;
                font-family: Roboto;
                font-size: 2vh;
                font-style: normal;
                font-weight: normal;
                color: $WHITE; 
            }
        }
    
        h1 {
            color: $WHITE;
            font-size: 2vh;
        }

        .Compare-ShareDuet {
            font-family: Roboto;
            font-style: normal;
            font-size: 1.8vh;
            font-weight: 500;
            align-items: center;
            color: $WHITE;
            width: 100%;
            text-align: right;
            margin-top: 5px;

            u {
                color: $ACCENT;
            }
        }
    }

    .Compare-Toggles {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin-top: 20px;
        margin-bottom: 30px;

        .Compare-Toggle {
            display: flex;
            align-items: center;
        
            .Compare-Toggle-Description {
                display: flex;
                flex-direction: column;
    
                h1, h2 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    color: $WHITE;
                }
    
                h1 {
                    margin: 0;
                    font-size: 2.2vh;
                }
    
                h2 {
                    margin: 0;
                    line-height: 1.5vh;
                    font-size: 1.5vh;
                    color: #494773;
                }
            }
        }
    }

    .Compare-Buttons {
        display: flex;
        flex-direction: column;

        .Compare-CreateGroup {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            align-items: center;
            color: $WHITE;
        }
    }
}

.Group-Modal {
    width: 80%;
    height: 212px;
    background: #212034;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    filter: none;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: $WHITE;
        font-size: 24px;
        margin-top: 0;
    }

    .Group-Modal-Close {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        margin-right: 8px;
    
        button {
            border: none;
            margin: 3px;
            width: 30px;
            height: 30px;
        }
    }

    input {
        border: 1px solid white;
        border-radius: 5px;
        background: transparent;
        height: 30px;
        width: 260px;
        margin: 10px 0px;
        color: white;
    }

    #createButton {
        font-size: 20px;
        color: $PRIMARY;
    }
}