.GenreChart {
    width: 100%;

    h1 {
        color: #E5277B;
        margin-bottom: 5px;
    }

    .GenreChart-Blocks {
        display: flex;
    }

    h4 {
        font-size: 12px;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }

    .OuterDiv:first-child .GenreChart-Block {
        border-radius: 10px 0 0 10px;
    }

    .OuterDiv:last-child .GenreChart-Block {
        border-radius: 0 10px 10px 0;
    }
}
