.SurveyPage {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9BD6DC;

    .Main {
        height: 100vh;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;

        h1 {
            color: #212034;
            margin-bottom: 40px;
            text-align: center;
        }

        p {
            color: #212034;
            margin-right: 10px;
            font-weight: bold;
        }
    }

    .Squigs {
        position: absolute;
        width: 1508.39px;
        height: 1045.74px;
        top: -70px;
        left: 50vw;
        transform: translate(-58%, -10%);
    }

    .Dropdown-button, .country-dropdown, .region-dropdown {
        background-color: transparent;
        border: solid #212034 2px;
        width: 150px;
        justify-content: space-between;

        path {  
            fill: #212034;
        } 

        h2 {
            font-family: 'Moon';
            font-weight: normal;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .country-dropdown, .region-dropdown {
        height: 30px;
        margin: 0 10px;
        padding: 4px 10px 0 10px;
        font-family: "Moon";
        font-weight: normal;
        font-size: 16px;
    }

    .Dropdown-options:hover, .Dropdown-button:hover {
        cursor: pointer;
    }

    .Dropdown-options {
        background-color: #212034;
        max-height: 200px;
        overflow-y: scroll;
        width: 85%;
        padding-left: 5px;
        
        h6 {
            margin: 0;
            color: #9BD6DC !important;
        }

        h6:hover {
            color: #E5277B !important;
        }
    }

    #introversion-scale, #artistic-scale {
        .Dropdown-options {
            max-height: 90px;
        }
    }

    #race-ethnicity {
        .Dropdown-button {
            width: 250px;
        }
    }

    #age, #country-region {
        display: flex;
        flex-direction: row;
    }

    .Question {
        display: flex;
        align-items: center;
    }

    .finishSurvey {
        align-self: flex-end;
        background-color: #212034;
        border: solid #212034 2px;
        border-radius: 6px;
        font-family: 'Moon';
        font-weight: normal;
        font-size: 16px;
        height: 30px;
        padding: 4px 10px 4px 10px;
        color: #9BD6DC;
    }

    .finishSurvey:hover {
        background-color: transparent;
        color: #212034;
    }

    button:focus {
        outline: 0;
    }
}
