.Trendex-Page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    #popup {
        width: 80vw;
        height: auto;
    
        img {
            height: 100%;
            width: 100%;
        }
    }
 
    #popup-background {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(.9, .9, .9, .5);
        z-index: -1;    
    }

    .Trendex-Description {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 7vw;
        line-height: 50px;
        letter-spacing: 0.12em;
        color: $SECONDARY;
        margin: 0;
        mark {
            background: $WHITE;
        }
    }

    .Trendex-Score {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25vw;
        line-height: 80px;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 0;
        color: $ACCENT;
    }

    .Trendex-Score-Label {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 6vw;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.09em;
        margin: 0;
    }

    .Trendex-TopSquare {
        background-color: $PRIMARY;
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10%;
        box-sizing: border-box;
        .Trendex-Score-Label {
            color: $SECONDARY;
        }
    }

    .Trendex-BottomSquare {
        background-color: $SECONDARY;
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20%;
        box-sizing: border-box;
        .Trendex-Score-Label {
            color: $WHITE;
        }
    }

    .Trendex-Divider {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 6vw;
        letter-spacing: 0.12em;
        color: $WHITE;
        transform: translateY(10px);
    }
}