.Trendex-Page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #PopupBackground {
        height: 50vh;
        height: 80vh;
        overflow: auto;
        background-color: white;
        position: absolute;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        right: 0;
        left: 0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1 {
            font-family: Roboto;
            font-size: 5vw;
            text-align: center;
            width: 95%;
            }
    
        h2 {
            font-family: Roboto;
            font-size: 4vw;
            text-align: center;
            width: 95%;
        }
    
        p {
            font-family: Roboto;
            font-size: 3vw;
            text-align: center;
            width: 95%;
        }
    
        button {
            background-color: $WHITE;
            border: none;
            color: $SECONDARY;
            font-size: 16px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }
    
    .popupInfo {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(.9, .9, .9, .5);
        z-index: 99;
    }

    .Trendex-Description {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 7vw;
        line-height: 100%;
        letter-spacing: 0.12em;
        color: $SECONDARY;
        margin: 0;
        mark {
            background: $WHITE;
        }
    }

    .Trendex-Score-T {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 0;
        color: $ACCENT;
    }

    .Trendex-Score-B {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 0;
        color: $PRIMARY;
    }

    .Trendex-Score-Label {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 6vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.09em;
        margin: 0;
    }

    .Trendex-TopSquare {
        background-color: $SECONDARY;
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10%;
        box-sizing: border-box;
        .Trendex-Score-Label {
            color: $WHITE;
        }
    }

    .Trendex-BottomSquare {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 17%;
        box-sizing: border-box;
        .Trendex-Score-Label {
            color: $WHITE;
        }
    }

    .btnDiv{
        padding-left: 85%;

        button {
            background-color: $WHITE;
            border: none;
            color: $SECONDARY;
            font-size: 16px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }

    .Trendex-Divider {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 6vw;
        letter-spacing: 0.12em;
        color: $WHITE;
        transform: translateY(10px);
    }

    @media screen and (min-width: 600px) {
        .Trendex-Description {
            font-size: 30px;
        }
        .Trendex-Score {
           font-size: 130px;
        }
        .Trendex-Score-Label {
            font-size: 30px;
        }
      }
}