.Trendex-Page {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .Trendex-Description {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 7vw;
        line-height: 100%;
        letter-spacing: 0.12em;
        color: $SECONDARY;
        margin: 0 12%;
        mark {
            background: $WHITE;
        }
    }

    .Trendex-Score-T {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 20px;
        color: $ACCENT;
    }

    .Trendex-Score-B {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 20px;
        color: $PRIMARY;
    }

    .Trendex-Score-Label {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 6vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.09em;
        margin: 0;
    }

    .Trendex-TopSquare {
        background-color: $SECONDARY;
        display: flex;
        height: 45%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        .Trendex-Score-Label {
            color: $WHITE;
        }
    }

    .Trendex-BottomSquare {
        display: flex;
        height: 45%;
        align-items: center;
        box-sizing: border-box;
        .Trendex-Score-Label {
            color: $WHITE;
        }
    }

    .Trendex-Divider {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 6vw;
        letter-spacing: 0.12em;
        color: $WHITE;
        transform: translateY(10px);
    }

    @media screen and (min-width: 600px) {
        .Trendex-Description {
            font-size: 30px;
        }
        .Trendex-Score {
           font-size: 130px;
        }
        .Trendex-Score-Label {
            font-size: 30px;
        }
      }
}