.Era {
    width: 45%;
    display: flex;
    flex-direction: column;

    .Era-number {
        font-size: 105px;
        line-height: normal;
        margin: 0;
        margin-right: 40px;
        text-shadow: -3px 0px #e5277B;
        color: #FEEBDB;
    }

    .Era-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .EraDescript {
        margin-top: 10px;
    }
}