.LoginPage {
    overflow-x: hidden;
    position: relative;
    background: #9BD6DC;
    height: 100vh;
    width: 100vw;
    //font-family: 'moon';

    .Main {
        width: 100vw;
        height: 100vh;
        transform: translateY(-50px);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button:focus {
            outline: 0;
        }


        .DuetLogo {
            fill: #212034;
            width: 250px;
            height: 153px;
            margin: 20px;
            margin-top: 60px;
        }

        .LoginPage-LoginButton {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            margin: 20px;
            transition-duration: 1.2s;
            //align-items: center;

            background: #9BD6DC;
            width: 303px;
            height: 59px;

            border: 2px solid #212034;
            box-sizing: border-box;
            border-radius: 251px;

            h1 {
                font-family: Moon;
                color: #212034;
                margin: 0px;
                height: 25px;
                width: 250px;
                font-weight: normal;
                font-size: 21px;
                line-height: 24px;
                letter-spacing: 0.095em;
            }

            .SpotifyLogo {
                color: #212034;
                stroke: #212034;
                width: 100;
                height: 100;
            }
        }

        h1 {
            width: 474px;
            height: 72px;
            margin: 20px;
            font-size: 20px;
            font-weight: normal;
            line-height: 24px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0.095em;
            }

    }

    .LoginPage-LoginButton:hover {
        background: rgb(167, 229, 236);
        transform: scale(1.05);
    }

    .Squigs {
        position:absolute;
        width: 1508.39px;
        height: 1045.74px;
        top: -70px;
        left: 50vw;
        transform: translateX(-53.5%);
    }

    .AboutDuet {
        width: 100vw;
        height: 100vh;
        padding: 40px;
        background: #212034;
        position: absolute;
        color: #9BD6DC;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    
        .Question {
            text-align: left;
            width: 95%;

            h1 {
                font-size: 26px;
                line-height: 31px;
            }

            h1:hover {
                color: #F78D91;
            }

            h2 {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}