.Sidebar {
    background-color: #212034;
    height: 100vh;
    width: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-color: #FEEBDB;
    border-right-width: 3px;
    border-right-style: solid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    #duetlogo {
        width: 10vw;
        height: auto;
    }

    .DuetLogo {
        margin-top: 10px;
        margin-bottom: 25px;
        transition: all .2s;
    }

    .DuetLogo:hover {
        transform: scale(1.02);
    }

    .ButtonGroup {
        width: 100%;
        margin-bottom: auto;
    }

    .SidebarButton:last-child {
        border-bottom: solid 3px #FEEBDB;
    }

    .SidebarButton:hover {
        background-color: #171724;
    }

    .active {
        background-color: #171724;
    }

    .SidebarButton {
        width: 100%;
        height: 80px;
        stroke: #FEEBDB;
        border-top: solid 3px #FEEBDB;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LinkGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;

        a {
            color: #FEEBDB;
            text-decoration: none;
        }

        a:hover {
            color: #E5277B;
        }
    }

    .FriendMenu, .GroupMenu {
        background-color: #171724;
        width: 100%;
        color: #FEEBDB;
        margin: auto;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 5px;;

        .border {
            border-top: solid 1px #FEEBDB;
            width: 85%;
            margin: auto;
        }

        p {
            font-weight: bolder;
            margin: 0;
            margin-top: 5px;
            margin-left: 20px;
        }

        .MenuLinkGroup {
            display: flex;
            flex-direction: column;
            margin-left: 28px;

            a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            a:hover {
                color: #E5277B;
                cursor: pointer;
            }
        }

        .addButton {
            color: #E5277B;
            margin-left: 20px;
        }

        .addButton:hover {
            color: #9BD6DC;
            cursor: pointer;
        }

        .activeFriend, .activeGroup {
            font-weight: bold;
            font-style: italic;
        }
    }

    .GroupMenu {
        border-bottom: solid 3px #FEEBDB;
        padding-bottom: 5px;
    }
}