.Decades-Page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .Decades-Title-TextShadow {
        font-family: Roboto;
        font-size: 4vh;
        line-height: 100%;
        text-shadow: -2px 0px $ACCENT;
        margin: 20px 0 0 15px;
        color: $WHITE;
    }

    .Decades-subtitle {
        font-family: Roboto;
        color: $WHITE;
        margin: 0 0 0 15px;
        font-size: 2vh;
    }

    .top {
        color: $WHITE;
        size: 2vh;
        font-family: Roboto;
        font-style: normal;
        transform: rotate(90deg);
        margin-left: 80%;
        margin-top: -10%;
    }

    .Decades-GraphOwner {
        width: 100%;
        margin-bottom: 20px;

        h3 {
            font-family: Roboto;
            text-align: left;
            color: $ACCENT;
            font-size: 2vh;
            padding-left: 1%;
        }

        h4 {
            font-family: Roboto;
            text-align: left;
            color: $PRIMARY;
            font-size: 2vh;
            padding-left: 1%;
        }

        .Decades-GraphOwner-Underline {
            background: $WHITE;
            width: 12%;
            height: 4px;
        }
    }

    .Decades-BarChart-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .Decades-BarChart {

            .Decades-BarChart-Bars {
                display: flex;
                align-items: flex-end;
                padding-right: 5%;
    
                .Decades-BarChart-Bar {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    
    
                    .Decades-BarChart-Bar-Bar-T{
                        border-radius: 5px;
                        width: 90%;
                        background-color: $ACCENT;
                    }

                    .Decades-BarChart-Bar-Bar-B{
                        border-radius: 5px;
                        width: 90%;
                        background-color: $PRIMARY;
                    }
        
                    .Decades-BarChart-Bar-Label{
                        margin: 10px;
                        font-family: Roboto;
                        font-size: 2vh;
                        font-style: normal;
                        color: $WHITE;
                    }
                }
            }
    
            .Decades-BarChart-Axis {
                background: $WHITE;
                transform: translateY(-43px);
                height: 4px;
            }
        }
    }

    .bottom{
        color: $WHITE;
        size: 2vh;
        font-family: Roboto;
        font-style: normal;
        padding-right: 30%;
    }
}