.Blender-Page {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Blender-Title-TextShadow {
    text-align: center;
    font-family: Roboto;
    font-size: 5vh;
    line-height: 100%;
    text-shadow: -2px 0px $ACCENT;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
    color: $WHITE;
}

.Blender-subtitle {
    font-family: Roboto;
    color: $WHITE;
    font-size: 1.8vh;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 20px;
}

.Blender-SeedArtist-Label {
    color: $WHITE;
    font-size: 1.8vh;
    margin: 5px;
    font-family: Roboto;
}

.Blender-RadioButtons {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.Blender-Sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    h1 {
        margin: 0;
        color: white;
        font-size: 10px;
    }
}

.Blender-Slider-Labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 2vh;
    }
}

.Blender-Button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #E5277B;
    border: 2px solid #E5277B;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.Blender-Modal {
    width: 80%;
    height: 212px;
    background: #212034;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    filter: none;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Blender-Modal-Close {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    
        button {
            border: none;
            margin: 3px;
            width: 30px;
            height: 30px;
        }
    }

    h1, h2 {
        color: $WHITE;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        margin: 0 10px 10px 10px;
    }

    h1 {
        font-size: 3vh;
    }

    h2 {
        font-size: 2vh;
    }
}
