.MusicalAttr-Box-left {
    border-radius: 5px;
    height: 50px;
    background-color: $SECONDARY;
}

.MusicalAttr-Box-right {
    border-radius: 5px;
    height: 50px;
    background-color: $ACCENT;
}

.MusicalAttr-Boxes {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.MusicalAttr-PercentDifference {
    display: flex;
    width: 100%;
}

.MusicalAttr-Divider {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 50vw;
    padding: 0;
    margin: 0;
    top: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.09em;
    color: $SECONDARY;
    transform: rotate(90deg);
}

