#Share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        background-color: $SECONDARY;
        color: $PRIMARY;
        font-weight: bold;
        margin-bottom: 20px;
    }
}