.SpiderGraph {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .SpiderGraph-label {
        font-family: inherit;
        text-anchor: middle;
        text-shadow: -2px 0px #e5277B;
        fill: #FEEBDB;
        font-family: 'Raleway', sans-serif;
    }

    .SpiderGraph-shape {
        fill-opacity: .3;
    }
}  